.p-button {
  background-color: #fff;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: bold;
  transition: 80ms;

  &:hover{
    cursor: pointer;
  }

  &.p-button-size-sm {
    font-size: 12px;
  }

  &.p-button-size-md {
    font-size: 18px;
  }

  &.p-button-size-lg {
    font-size: 24px;
  }

  &.p-button-style-normal.p-button-type-normal {
    border-color: var(--default-green);
    color: var(--default-green);

    &:active {
      border-color: var(--dark-green);
      color: var(--dark-green);
    }
  }

  &.p-button-style-normal.p-button-type-danger {
    border-color: var(--default-red);
    color: var(--default-red);

    &:active {
      border-color: var(--dark-red);
      color: var(--dark-red);
    }
  }

  &.p-button-style-fill {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
  }

  &.p-button-style-fill.p-button-type-normal {
    border-color: var(--default-green);
    background-color: var(--default-green);
    color: #FFF;

    &:hover {
      border-color: var(--dark-green);
      background-color: var(--dark-green);
    }

    &:active{
      border-color: var(--darker-green);
      background-color: var(--darker-green);
    }

  }

  &.p-button-style-fill.p-button-type-danger {
    border-color: var(--default-red);
    background-color: var(--default-red);
    color: #FFF;

    &:hover {
      border-color: var(--dark-red);
      background-color: var(--dark-red);
    }

    &:active{
      border-color: var(--darker-red);
      background-color: var(--darker-red);
    }

  }

}
