<main>
  <div class="background-container">
    <div class="bg-image"></div>
  </div>

  <div class="signup-form-container">
    <div class="logo-header">
      <img
        src="./../../../../assets/imgs/logo.svg"
        alt="Pandora Logo"
      />
    </div>
    <div class="form-container">
      <h1>Faça seu cadastro</h1>
      <p>Preencha as informações para completar seu cadastro.</p>

      <form>
        <p-input
          p-label="Usuário"
          p-placeholder="Seu usuário"
          p-style="fill"
          p-size="md"
        ></p-input>

        <p-input
          p-label="Senha"
          p-placeholder="Sua senha super segura"
          p-style="fill"
          p-size="md"
        ></p-input>

        <p-input
          p-label="Confirmar senha"
          p-placeholder="Confirme sua senha"
          p-style="fill"
          p-size="md"
        ></p-input>

        <p-input
          p-label="E-mail"
          p-placeholder="Seu melhor e-mail"
          p-style="fill"
          p-size="md"
        ></p-input>

        <p-input
          p-label="Nome"
          p-placeholder="Seu nome"
          p-style="fill"
          p-size="md"
        ></p-input>

        <p-input
          p-label="Sobrenome"
          p-placeholder="Seu Sobrenome"
          p-style="fill"
          p-size="md"
        ></p-input>
      </form>

      <p-button
        p-style="fill"
        p-text="Cadastrar"
      ></p-button>
    </div>
  </div>
</main>
