/*
  #IMPORTS
*/

@import url('./fonts.scss');

/*
  #VARS
*/
:root {
  --default-dark: #2D2D2D;
  --default-blue: #0097D8;
  --dark-blue: #0081B8;
  --darker-blue: #006a97;
  --default-red: #EF4C4C;
  --dark-red: #DF4949;
  --darker-red: #C53D3D;
  --default-green: #00ADB5;
  --dark-green: #00969D;
  --darker-green: #00868C;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Roboto';

}

body{
  position: relative;
  height: 100%;

  app-root{
    color: var(--default-dark)
  }
}
