<h1>Titles</h1>
<hr />
<h1>h1 - Titulo Grande</h1>
<h2>h2 - Titulo Médio</h2>
<h3>h3 - Titulo Pequeno</h3>
<h4>h4 - Titulo Muito Pequeno</h4>
<br /><br />

<h1>Textos</h1>
<hr />
<span>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, assumenda? Perspiciatis non, tempora sapiente
  labore numquam tenetur possimus quis magni debitis, esse cumque, quo doloribus. Quod quibusdam deserunt facilis
  perspiciatis.
</span>

<br /><br />
<h1>Inputs</h1>
<hr />

<p-input
  [(ngModel)]="inputModel"
  p-type="text"
  p-placeholder="Teste"
  p-style="fill"
  p-label="Input com model"
></p-input>
<form
  #forminho
  [formGroup]="form"
>
  <p-input
    formControlName="label1"
    p-type="text"
    p-placeholder="Teste"
    p-style="fill"
    p-label="Input com form"
  ></p-input>
  <br />
  <span>Input value: {{ inputModel }} </span>
</form>

<br /><br />
<h1>Buttons</h1>
<h1></h1>

<p-button
  p-text="Teste"
  p-style="normal"
  p-type="normal"
  (p-click)="clickTest()"
></p-button>

<p-button
  p-text="Teste"
  p-style="primary"
  p-type="normal"
></p-button>
<br />
<p-button
  p-text="Teste"
  p-style="normal"
  p-type="danger"
></p-button>

<p-button
  p-text="Teste"
  p-style="primary"
  p-type="danger"
></p-button>
